// http://chir.ag/projects/name-that-color/

// Black
$black : #000000;

// White
$white : #FFFFFF;

// Gray
$bright-gray: #3C424F;
$shark: #16191b;

// Purple
$heliotrope : #956BFF;

// Main

// Text
$primary:$white;
$secondary:$heliotrope;

// Background
$primary-bg:$shark;
$secondary-bg:$bright-gray;
$tertiary-bg:$heliotrope;