<header class="header">
	<div class="container">
		<input type="text" [(ngModel)]="searchText" class="movies__input" placeholder="Search by title..." />
	</div>
</header>
<main class="main">
	<div class="container">
		<section>
			<table class="movies">
					<tr *ngFor="let movie of movies | title: searchText | orderBy: 'date'" class="movies__row">
						<td class="movies__cell movies__number">
							{{("00000" + movie.id).slice(-3)}}
						</td>
						<td class="movies__cell movies__title">
							{{movie.title}}
						</td>
						<td class="movies__cell movies__date">
							{{movie.date | date : medium}}
						</td>
<!-- 		<div *ngIf="movie.theater.state == 1">
			<i class="fa fa-tv" aria-hidden="true"></i>
		</div>
		<div *ngIf="movie.theater.state == 0">
			<i class="fa fa-ticket" aria-hidden="true"></i>
			<p>{{movie.theater.name}}</p>
		</div>
		
		<div *ngIf="movie.alone.state == 1">
			<i class="fa fa-user" aria-hidden="true"></i>
		</div>
		<div *ngIf="movie.alone.state == 0">
			<i class="fa fa-users" aria-hidden="true"></i>
			<ul>
				<li *ngFor="let name of movie.alone.group">
					{{ name }}
				</li>
			</ul>
		</div> -->
	</tr>
</table>
</section>
</div>
</main>

