.movies{
	width:100%;
	&__row{
		display:flex;
		height: 10vh;
		min-height: 30px;
		margin-bottom:5vh;
		align-items:center;
		flex-direction:row;
		text-align:left;
	}
	
}

.movies{
	&__number{
		flex-basis: 40px;
		flex-grow: 0;
		opacity:.3;
		transition:opacity ease-out .3s;
	}

	&__title{
		opacity:.8;
		max-width: 50%;
		transition:opacity ease-out .3s;
		flex-grow: 2;
	}

	&__date{
		opacity:.8;
		flex-grow: 1;
		font-size:.8em;
		transition:opacity ease-out .3s;
	}
	&__info{
		opacity:.8;
		flex-grow: 0;
		font-size:.8em;
		transition:opacity ease-out .3s;
	}
}

.movies__row:hover{
	cursor:pointer;
	.movies{
		&__number{
			opacity:.5;
		}

		&__title{
			opacity:1;

		}

		&__date{
			opacity:1;
		}
	}
}
