<ul class="movies">
  <li *ngFor="let movie of movies">
    <span>{{movie.date}}</span> {{movie.name}}
    <!-- Theater or not -->
    <div *ngIf="movie.theater.state == 1">
      <i class="fa fa-tv" aria-hidden="true"></i>
    </div>
    <div *ngIf="movie.theater.state == 0">
      <i class="fa fa-ticket" aria-hidden="true"></i>
      <p>{{movie.theater.name}}</p>
    </div>
    <!-- Alone or not -->
    <div *ngIf="movie.alone.state == 1">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div *ngIf="movie.alone.state == 0">
      <i class="fa fa-users" aria-hidden="true"></i>
      <ul>
        <li *ngFor="let name of movie.alone.group">
          {{ name }}
        </li>
      </ul>
    </div>
  </li>
</ul>